openapi: 3.0.0
info:
  description: TODOAPI
  version: 1.0.0
  title: Swagger REST API
paths:
  /todos:
    get:
      operationId: "endpoints.todos.get_all"
      tags:
        - "TODOs"
      summary: "Gibt alle TODOs mit text und status zur端ck."
      description: "Gibt alle TODOs mit text und status zur端ck."
      responses:
        "200":
          description: "Erfolgreiches holen der TODOs."
          content:
            application/json:
              schema:
                type: "array"
                items:
                  properties:
                    id:
                      type: string
                    text:
                      type: string
                    status:
                      type: string
                    changed:
                      type: string

  /todos/{todo_id}:
    get:
      operationId: "endpoints.todos.get_by_id"
      tags:
        - "TODOs"
      summary: "Gibt ein TODO mit einer spezifischen ID zur端ck."
      description: "Gibt ein TODO mit einer spezifischen ID zur端ck."
      parameters:
        - name: todo_id
          in: path
          description: todo id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Erfolgreiches holen des TODOs."
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: string
                  text:
                    type: string
                  status:
                    type: string
                  changed:
                    type: string
        "404":
          description: "TODO mit dieser ID nicht gefunden."

servers:
  - url: /
